* {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgba(72, 116, 68, 0.26);
}

h1{
    background-color: rgb(7, 51, 34);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem;
    margin-bottom: 0%;
    font-weight: 100;
    text-align: center;

}

.hnav {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.hnav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;  
}

.card1 {
    grid-column: 1/2;
    border-radius: 10px;
    margin: 0.8rem;
    border: 1px solid black;
    display: grid;
}

.about {
    background-color:rgb(7, 51, 34);
    margin-top: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem; 
    color: white;
}

.card2 {
    grid-column: 2/3;
    border-radius: 10px;
    margin: 0.8rem;
    border: 1px solid black;
    
}

.webh2 {
    background-color:rgb(7, 51, 34);
    margin-top: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 0 1.5rem;
    color: white;
}

.web {
    display: grid;
    height: 200px;
    align-items: center ;
}

.first img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1.5px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1.5rem 1rem 1rem;
}

.first p {
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0;
    line-height: 1.5;
}

.second p {
    margin: 1rem 1rem 1rem 1rem;
    line-height: 1.5;
}

figure {
    float: left;
    margin: 0.5rem 1.5rem 1rem 1rem;
}

figcaption {
    margin-top: .5rem;
    font-style: italic;
    text-align: center;
}

.nig {
    display: flex;
    justify-content: center;
    margin: 1rem 4rem ;
    border-bottom: 1px solid rgb(7, 51, 34);
}

footer {
    color: black;
    display: grid; 
    justify-content: space-around;
    margin: 2rem 2rem;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}


footer p {
    text-align: center;
    margin-top: 1rem;
}


#lastModified {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: rgb(7, 51, 34);
}

.hnav a:hover {
    color:rgba(29, 158, 197, 0.829);
    border-bottom: 2px solid  rgb(7, 51, 34);
}

.web a:hover {
    color: rgb(206, 15, 206);
}

/* Media query addition */
@media screen and (max-width: 750px){
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        display: block;
    }

    .webh2 {
        align-self: center;
    }

    h1 {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    figure {
        margin: .5rem 3rem;  
    }
    
    .card1,
    .card2 {
        margin-right: 0.8rem;
        margin-left: 0.8rem;

    }
}